.sigma{
    border: 3px solid;
}
.biggercontainer {
    display: flex;
}
.smallercontainer{
    display: flex;
}
.Skibidi{
    flex:3;
}
.textOnSide{
    border: 3px solid;
    flex:1;
}
